<div style="width: 100%">
  <mat-toolbar class="p-0">
  
      <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
  
          <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
  
              <button mat-icon-button class="navbar-toggle-button"
                      *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                  <mat-icon class="secondary-text">menu</mat-icon>
              </button>
        
              <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                  <div class="logo ml-16">
                      <img class="logo-icon" src="assets/images/logos/fuse.svg">
                  </div>
              </div>
         
          </div>
  
          <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
  
              <button mat-button [matMenuTriggerFor]="userMenu"
                      class="user-button">
                  <div fxLayout="row" fxLayoutAlign="center center">
                      <img class="avatar mr-0 mr-sm-16 img-circle-tamanho" src="https://static1.segredosdesalao.com.br/articles/8/16/78/8/@/221576-conheca-alguns-cuidados-que-fazem-toda-a-article_media_item_mobile-4.jpg" alt="" class="img-circle">
                      <span class="username mr-12" fxHide fxShow.gt-sm>Alice Maravilha</span>
                      <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                  </div>
              </button>
  
              <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  
                  <button mat-menu-item>
                      <mat-icon>account_circle</mat-icon>
                      <span>My Profile</span>
                  </button>
  
                  <button mat-menu-item class="">
                      <mat-icon>mail</mat-icon>
                      <span>Inbox</span>
                  </button>
  
                  <button mat-menu-item class="">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                  </button>
  
              </mat-menu>
  
              <button mat-button fxHide fxShow.gt-xs
                      class="language-button"
                      [matMenuTriggerFor]="languageMenu">
                  <div fxLayout="row" fxLayoutAlign="center center">
                      <img class="flag mr-8" Cannot GET ="/assets/icons/flags/pt.png">
                      <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                  </div>
              </button>
  
              <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
  
                  <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                      <span fxLayout="row" fxLayoutAlign="start center">
                          <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                          <span class="iso">{{lang.title}}</span>
                      </span>
                  </button>
  
              </mat-menu>
  
              <button mat-icon-button class="navbar-toggle-button"
                      *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                  <mat-icon class="secondary-text">menu</mat-icon>
              </button>
  
          </div>
  
      </div>
  </mat-toolbar>
  <mat-toolbar class="p-0" style="background-color: #039be5 !important; height: 90px;">
          <div style="display: flex;
          width: 100%;
          justify-content: space-between;">
              <div style="display: flex;">
                <label for="imageFile">
                  <img style="width: 75px;height: 75px;border: 100%;border-radius: 75px; margin-left: 28px; cursor: pointer;" [src]="imgURL" alt="">
                </label>       
                <input #file type="file" id="imageFile" accept='image/*' style="display: none;" (change)="preview(file.files)" />
              <h1 style="align-self: center; margin-left: 10px; color: #fff; font-weight: bold;font-family: inherit; font-size: 25px;">{{title}}</h1>
          </div>
  
             <div style="align-self: center;">
              <button (click)="openModal()" style="border: none; border-radius: 4px; margin-right: 10px; font-size: 12px; padding: 6px 10px;font-family:Muli;background-color: #fff; cursor: pointer;">Editar</button>
             </div>
  
          </div>    
  </mat-toolbar>
  <mat-tab-group>
      <mat-tab label="Perfil"> content 1</mat-tab>
      <mat-tab label="Atividade"> Content 2 </mat-tab>
      <mat-tab label="Frequência"> Content 3 </mat-tab>
      <mat-tab label="Meta"> Content 4 </mat-tab>
      <mat-tab label="Membros">
  
          <div class="conteiner-form">
            
            <div class="margin-form largura2">
            <input [(ngModel)]="searchMember" (keyup)="pesquisar()" class="border largura" type="text" placeholder="Nome">
            </div>
  
            <div class="margin-form">
              <input [(ngModel)]="searchTelefone" (keyup)="pesquisar()" class="border" type="text" placeholder="Telefone">
            </div>
  
            <div class="margin-form" >
              <input [(ngModel)]="searchStatus" (keyup)="pesquisar()" class="border" type="text" placeholder="Status">
            </div>
  
            <div class="button-flex">
              <button (click)="pesquisar()" mat-raised-button class="color-button"color="primary">Pesquisar</button>
            </div>
  
            
          </div>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex">
                      <img  class="img-circle" src="https://static1.segredosdesalao.com.br/articles/8/16/78/8/@/221576-conheca-alguns-cuidados-que-fazem-toda-a-article_media_item_mobile-4.jpg" alt=""> 
                      <span>{{element.name}}</span>
                    </div>                
                  </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>Entrou em</th>
                <td mat-cell *matCellDef="let element"> {{element.entrou_em | date:"dd/MM/yyyy"}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Telefone</th>
                <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  
              </ng-container>   
              
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="element.status === 'Lider'" class="border-button">{{element.status}}</button>
                  <button *ngIf="element.status === 'Lider em treinamento'" class="border-button2">{{element.status}}</button>
                  <button *ngIf="element.status === 'Membro'" class="border-button3">{{element.status}}</button>
                </td>
  
              </ng-container>   
                
  
              <tr class="bg-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #pagination [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-tab>
  
  
  
      <mat-tab label="Ex membros">
  
        <div class="conteiner-form"> 
          <div class="margin-form largura2">
            <input [(ngModel)]="searchMember" (keyup)="pesquisarEx()" class="border largura" type="text" placeholder="Nome">
            </div>
  
            <div class="margin-form">
              <input [(ngModel)]="searchTelefone" (keyup)="pesquisarEx()" class="border" type="text" placeholder="Telefone">
            </div>
  
            <div class="margin-form" >
              <input [(ngModel)]="searchStatus" (keyup)="pesquisarEx()" class="border" type="text" placeholder="Status">
            </div>
  
            <div class="button-flex">
              <button (click)="pesquisarEx()" mat-raised-button class="color-button"color="primary">Pesquisar</button>
            </div>
        </div>
  
          
          <table mat-table [dataSource]="dataSourceEx" class="mat-elevation-z1">
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex">
                      <img  class="img-circle" src="https://static1.segredosdesalao.com.br/articles/8/16/78/8/@/221576-conheca-alguns-cuidados-que-fazem-toda-a-article_media_item_mobile-4.jpg" alt=""> 
                      <span>{{element.name}}</span>
                    </div>                
                  </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>Entrou em</th>
                <td mat-cell *matCellDef="let element"> {{element.entrou_em | date:"dd/MM/yyyy"}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Telefone</th>
                <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
              </ng-container>      
              
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> 
                  <button *ngIf="element.status === 'Ex Membro'" class="ex-button">{{element.status}}</button>
                </td>
              </ng-container>  
    
              <tr class="bg-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginationEx [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-tab>
    </mat-tab-group>
  </div>
  
  <div *ngIf="modalOpen" id="myModal" class="modal" >
    <div class="modal-content">
      <span class="titulo">Novo Titulo</span>
      <span (click)="close()" class="close">&times;</span>
      <div style="width: 100%;">
        <input autofocus  [(ngModel)]="title" class="border largura custom-input" type="text" placeholder="Nome">
      </div>
      <div style="margin-top: 20px;text-align: right;">
        <button (click)="close()" mat-button>Cancelar</button>
        <button (click)="save()" style="color: #fff" class="color-button" mat-button color="primary">Atualizar</button>
    </div>
    </div>
  </div>
  