
		<section class = "todoapp">
			<header class = "header">
				<h1> todos </h1>
				<input class = "new-todo" placeholder = "O que precisa ser feito?" foco automático>
			</header>

			<section class = "main">
				<input id = "toggle-all" class = "toggle-all" type = "checkbox">
				<label for = "toggle-all"> Marcar todos como completos </label>
				<ul class = "todo-list">
				
				
						<div class = "view">
							<input class = "toggle" type = "checkbox" marcado>
							<label> Experimente o JavaScript </label>
							<button class = "destroy"> </button>
						</div>
						<input class = "edit" value = "Criar um modelo TodoMVC">
				
					<li>
						<div class = "view">
							<input class = "toggle" type = "checkbox">
							<label> Compre um unicórnio </label>
							<button class = "destroy"> </button>
						</div>
						<input class = "edit" value = "Governar a web">
					</li>
				</ul>
			</section>
		
			<footer class = "footer">
			
				<span class = "todo-count"> <strong> 0 </strong> item restante </span>
		
				<ul class = "filtros">
					<li>
						<a class="selected" href="#/"> Todos </a>
					</li>
					<li>
						<a href="#/active"> Ativo </a>
					</li>
					<li>
						<a href="#/completed"> Concluído </a>
					</li>
				</ul>
			
				<button class = "clear-completed"> Limpeza concluída </button>
			</footer>
		</section>
		<footer class = "info">
			<p> Clique duas vezes para editar uma tarefa </p>
			
			<p> Modelo por <a href="http://sindresorhus.com"> Sindre Sorhus </a> </p>
		
			<p> Criado por <a href="http://todomvc.com"> você </a> </p>
			<p> Parte de <a href="http://todomvc.com"> TodoMVC </a> </p>
		</footer>
		